@model Klant 
@{
    ViewData["Title"] = "Contact";
}

@section style {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>@ViewData["Title"]</h1>
<form method ="post">
    <div>Voornaam: <input type ="text" name = "voornaam" /></div>
    @Html.ValidationMessageFor(m => m.Voornaam)
    <div>Achternaam: <input type ="text" name = "achternaam" /></div>
    @Html.ValidationMessageFor(m => m.Achternaam)
    <div>Email: <input type ="text" name = "email" /></div>
    @Html.ValidationMessageFor(m => m.Email)
    <div>Opmerking: <input type ="text" name = "opmerking" /></div>
    @Html.ValidationMessageFor(m => m.Opmerking)
    <input type = "submit" value = "verstuur"/>
</form>


