@model Product
@{
    ViewData["Title"] = "Detailpagina";
}

@section style {
    <link rel="stylesheet" href="~/css/detail.css" />
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <img src="@Model.Voorkant" />
    <img src="@Model.Achterkant" />
    <img src="@Model.Zijkant" />
    <img src="@Model.Fotolos" />
    <h3>€@Model.Prijs</h3>
    <p>@Model.Beschrijving</p>
</div>
